USE [master]
GO
/****** Object:  Database [Superhero]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE DATABASE [Superhero]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Superhero', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Superhero.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Superhero_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Superhero_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Superhero].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Superhero]
GO
/****** Object:  User [DESKTOP-RSDK8EN\jwagner]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE USER [DESKTOP-RSDK8EN\jwagner] FOR LOGIN [DESKTOP-RSDK8EN\jwagner] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Heroes]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heroes](
	[HeroID] [int] IDENTITY(1,1) NOT NULL,
	[HeroName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Superpower] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Heroes] PRIMARY KEY CLUSTERED 
(
	[HeroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locations]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](max) NULL,
	[LocationDescription] [nvarchar](max) NULL,
	[LocationAddress] [nvarchar](max) NULL,
	[LatitudeCoordinate] [int] NOT NULL,
	[LongitudeCoordinate] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Locations] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrganizationHeroes]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationHeroes](
	[Organization_OrganizationID] [int] NOT NULL,
	[Hero_HeroID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrganizationHeroes] PRIMARY KEY CLUSTERED 
(
	[Organization_OrganizationID] ASC,
	[Hero_HeroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[OrganizationID] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationName] [nvarchar](max) NULL,
	[OganizationAddress] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[OrganizationLocation_LocationID] [int] NULL,
 CONSTRAINT [PK_dbo.Organizations] PRIMARY KEY CLUSTERED 
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SightingHeroes]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SightingHeroes](
	[Sighting_SightingID] [int] NOT NULL,
	[Hero_HeroID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SightingHeroes] PRIMARY KEY CLUSTERED 
(
	[Sighting_SightingID] ASC,
	[Hero_HeroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sightings]    Script Date: 12/2/2017 3:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sightings](
	[SightingID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Ispublished] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[SightingLocation_LocationID] [int] NOT NULL,
	[SightingDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Sightings] PRIMARY KEY CLUSTERED 
(
	[SightingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'f7c212b9-d895-477b-a3e1-4bf407d2aa2c', N'admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'fc9bc991-0cf1-40c8-8cf0-daf09b6f203d', N'User')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'60986b24-d0bf-46b5-a051-0ab4f5684dae', N'f7c212b9-d895-477b-a3e1-4bf407d2aa2c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'87e83ddd-26e0-4831-b3a6-eb2fecd908ea', N'fc9bc991-0cf1-40c8-8cf0-daf09b6f203d')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'60986b24-d0bf-46b5-a051-0ab4f5684dae', NULL, 0, N'AGtPwu1wEEsJOd9N8NReMAi6npWYuVlzC3x9nKKMNAN2kVRixhmRBLD1M8GVjlIqQg==', N'cf542752-6411-4a58-8343-eb5890069c16', NULL, 0, 0, NULL, 0, 0, N'admin')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'87e83ddd-26e0-4831-b3a6-eb2fecd908ea', NULL, 0, N'AF21Um4uhTEo0Q+vcxayq76yoIAtJ9lP1x0vlFEk+Tl8BDprQ9C46tHP+g2GxAI67Q==', N'e5490c30-a41c-4044-9194-5d2aec2a572f', NULL, 0, 0, NULL, 0, 0, N'user')
SET IDENTITY_INSERT [dbo].[Heroes] ON 

INSERT [dbo].[Heroes] ([HeroID], [HeroName], [Description], [Superpower]) VALUES (1, N'The Flash', N'Wears a red/yellow suit??', N'Runs really fast??')
INSERT [dbo].[Heroes] ([HeroID], [HeroName], [Description], [Superpower]) VALUES (2, N'Superman', N'Weak to kyrptonite', N'He can fly')
INSERT [dbo].[Heroes] ([HeroID], [HeroName], [Description], [Superpower]) VALUES (18, N'Aquaman', N'Swims fast', N'Controls sea animals')
SET IDENTITY_INSERT [dbo].[Heroes] OFF
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationID], [LocationName], [LocationDescription], [LocationAddress], [LatitudeCoordinate], [LongitudeCoordinate]) VALUES (4, N'Minneapolis?', N'A lovely city?', N'The Twin Cities??', 10001, 10001)
INSERT [dbo].[Locations] ([LocationID], [LocationName], [LocationDescription], [LocationAddress], [LatitudeCoordinate], [LongitudeCoordinate]) VALUES (6, N'The South Pole', N'Cold', N'Southern most tip', 200, 200)
INSERT [dbo].[Locations] ([LocationID], [LocationName], [LocationDescription], [LocationAddress], [LatitudeCoordinate], [LongitudeCoordinate]) VALUES (19, N'My House', N'I live there', N'2216 Pleasant', 2369, 2369)
SET IDENTITY_INSERT [dbo].[Locations] OFF
INSERT [dbo].[OrganizationHeroes] ([Organization_OrganizationID], [Hero_HeroID]) VALUES (17, 18)
SET IDENTITY_INSERT [dbo].[Organizations] ON 

INSERT [dbo].[Organizations] ([OrganizationID], [OrganizationName], [OganizationAddress], [Phone], [OrganizationLocation_LocationID]) VALUES (12, N'My Home Hero Squad', N'2216 Pleasant??', N'12345678991??', NULL)
INSERT [dbo].[Organizations] ([OrganizationID], [OrganizationName], [OganizationAddress], [Phone], [OrganizationLocation_LocationID]) VALUES (13, N'The third org1', N'789 Apple', N'12345678991', NULL)
INSERT [dbo].[Organizations] ([OrganizationID], [OrganizationName], [OganizationAddress], [Phone], [OrganizationLocation_LocationID]) VALUES (14, N'My Home Hero Squad', N'2216 Pleasant??', N'12345678991??', NULL)
SET IDENTITY_INSERT [dbo].[Organizations] OFF
INSERT [dbo].[SightingHeroes] ([Sighting_SightingID], [Hero_HeroID]) VALUES (8, 1)
INSERT [dbo].[SightingHeroes] ([Sighting_SightingID], [Hero_HeroID]) VALUES (9, 1)
INSERT [dbo].[SightingHeroes] ([Sighting_SightingID], [Hero_HeroID]) VALUES (8, 2)
SET IDENTITY_INSERT [dbo].[Sightings] ON 

INSERT [dbo].[Sightings] ([SightingID], [Date], [Ispublished], [IsDeleted], [SightingLocation_LocationID], [SightingDescription]) VALUES (8, CAST(N'1989-03-23 00:00:00.000' AS DateTime), 1, 0, 19, N'2 Heroes at my Home')
INSERT [dbo].[Sightings] ([SightingID], [Date], [Ispublished], [IsDeleted], [SightingLocation_LocationID], [SightingDescription]) VALUES (9, CAST(N'2017-11-11 00:00:00.000' AS DateTime), 1, 0, 4, N'We saw the Flash in Minneapolis??')
INSERT [dbo].[Sightings] ([SightingID], [Date], [Ispublished], [IsDeleted], [SightingLocation_LocationID], [SightingDescription]) VALUES (10, CAST(N'2017-11-04 21:30:46.000' AS DateTime), 1, 0, 6, N'Aquaman in ice water')
SET IDENTITY_INSERT [dbo].[Sightings] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Hero_HeroID]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Hero_HeroID] ON [dbo].[OrganizationHeroes]
(
	[Hero_HeroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Organization_OrganizationID]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Organization_OrganizationID] ON [dbo].[OrganizationHeroes]
(
	[Organization_OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrganizationLocation_LocationID]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrganizationLocation_LocationID] ON [dbo].[Organizations]
(
	[OrganizationLocation_LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Hero_HeroID]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Hero_HeroID] ON [dbo].[SightingHeroes]
(
	[Hero_HeroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sighting_SightingID]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sighting_SightingID] ON [dbo].[SightingHeroes]
(
	[Sighting_SightingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SightingLocation_LocationID]    Script Date: 12/2/2017 3:39:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_SightingLocation_LocationID] ON [dbo].[Sightings]
(
	[SightingLocation_LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[OrganizationHeroes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrganizationHeroes_dbo.Heroes_Hero_HeroID] FOREIGN KEY([Hero_HeroID])
REFERENCES [dbo].[Heroes] ([HeroID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrganizationHeroes] CHECK CONSTRAINT [FK_dbo.OrganizationHeroes_dbo.Heroes_Hero_HeroID]
GO
ALTER TABLE [dbo].[OrganizationHeroes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrganizationHeroes_dbo.Organizations_Organization_OrganizationID] FOREIGN KEY([Organization_OrganizationID])
REFERENCES [dbo].[Organizations] ([OrganizationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrganizationHeroes] CHECK CONSTRAINT [FK_dbo.OrganizationHeroes_dbo.Organizations_Organization_OrganizationID]
GO
ALTER TABLE [dbo].[Organizations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Organizations_dbo.Locations_OrganizationLocation_LocationID] FOREIGN KEY([OrganizationLocation_LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Organizations] CHECK CONSTRAINT [FK_dbo.Organizations_dbo.Locations_OrganizationLocation_LocationID]
GO
ALTER TABLE [dbo].[SightingHeroes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SightingHeroes_dbo.Heroes_Hero_HeroID] FOREIGN KEY([Hero_HeroID])
REFERENCES [dbo].[Heroes] ([HeroID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SightingHeroes] CHECK CONSTRAINT [FK_dbo.SightingHeroes_dbo.Heroes_Hero_HeroID]
GO
ALTER TABLE [dbo].[SightingHeroes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SightingHeroes_dbo.Sightings_Sighting_SightingID] FOREIGN KEY([Sighting_SightingID])
REFERENCES [dbo].[Sightings] ([SightingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SightingHeroes] CHECK CONSTRAINT [FK_dbo.SightingHeroes_dbo.Sightings_Sighting_SightingID]
GO
ALTER TABLE [dbo].[Sightings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sightings_dbo.Locations_SightingLocation_LocationID] FOREIGN KEY([SightingLocation_LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sightings] CHECK CONSTRAINT [FK_dbo.Sightings_dbo.Locations_SightingLocation_LocationID]
GO
USE [master]
GO
