@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <navbar>
            <h3>Home | New Inventory | Used Inventory | Specials | Contact</h3>
        </navbar>
        <hr />
        <div class="jumbotron">
            <h1>BIG HUGE SALE</h1>
            <h3>Supporting Details and Info</h3>
        </div>
        <hr />
        <div>
            <h3>Featured Vehicles</h3>
        </div>
    </div>
</div>