@model Tip_Calculator.Models.TipCalculator

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tip</title>
</head>
<body>
    <form action="/home/Tip" method="post">
        <p>Request Object - Form1()</p>
        <div class="form-group">
            <label>Bill Amount</label>
            @*<input type="text" class="form-control" name="Bill" />*@
            @Html.TextBoxFor(m=>m.Bill)
        </div>
        <div class="form-group">
            <label>Tip Percent</label>
            @*<input type="text" class="form-control" name="TipPercent" />*@
            @Html.TextBoxFor(m=>m.TipPercent)
        </div>
        <line>The tip amount is : @Model.TipAmount</line>
        <br />
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
</body>
</html>
