
@{
    ViewBag.Title = "Index";
}

<h2>Sales</h2>

@using (Html.BeginForm())
{
    <div id="searcharea">
        Quick Search
        <div>
            <input type="text" id="searcharea" placeholder="Enter make, model or year" />
            Price:
            <select id="minprice">
                <option value="0">No Min Price</option>
                @for (int i = 7000; i <= 30000; i += 1000)
                {
                    <option value="i">$@i</option>
                }
            </select>
            <select id="maxprice">
                <option value="100000">No Max Price</option>
                @for (int i = 7000; i <= 30000; i += 1000)
                {
                    <option value="i">$@i</option>
                }
            </select>
            Year:
            <select id="minyear">
                <option value="0">No Min Year</option>
                @for (int i = 1990; i <= 2025; i++)
                {
                    <option value="i">@i</option>
                }
            </select>
            <select id="maxyear">
                <option value="2030">No Max Year</option>
                @for (int i = 1990; i <= 2020; i++)
                {
                    <option value="i">@i</option>
                }
            </select>
            <div style="text-align:left;">
                <button type="button" class="btn btn-default" onclick="newcarsearch()">Search</button>
            </div>
        </div>
    </div>
}

<div id="searchresults">
    <h2>Search Results</h2>
    <div id="carsarea">

    </div>
</div>

<div id="detailsarea">
    <h2>Car Details</h2>
    <div id="details">

    </div>
</div>
