@model CarDealership.Models.AddModelVM

@{
    ViewBag.Title = "AddModel";
}

<h2>Model</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                    New Model @Html.TextBoxFor(m => m.ModelName, new { @class = "form-control" })
                </div>
                <div class="col-xs-3">
                    Make @Html.DropDownListFor(m => m.MakeID, Model.MakeList, new { @class = "form-control" })
                </div>
                <div class="col-xs-3">
                    <label>Model Style</label>
                    @Html.DropDownListFor(m => m.StyleId, Model.StyleList, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-md btn-primary">Save</button>
            </div>
        </div>
}
<div class="col-xs-12" id="modelarea">

</div>


