@model CarDealership.Model.Make

@{
    ViewBag.Title = "AddMake";
}

<h2>Make</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                New Make @Html.TextAreaFor(m => m.MakeType, new { @class = "form-control"})
            </div>
            <div class="col-xs-3">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
}
<div class="col-xs-12" id="makearea">

</div>
