@model Exercises.Models.Data.State

@{
    ViewBag.Title = "AddState";

}

<div class="row">
    <div class="col-xs-12">
        <h3>Add State</h3>
        @Html.ActionLink("Return to List", "State", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>State</label>
                @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", placeholder = "State" })                
                <label>State Abbreviation</label>
                @Html.TextBoxFor(m => m.StateAbbreviation, new { @class = "form-control", placeholder = "State" })
                @Html.ValidationMessageFor(m => m.StateAbbreviation)
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div> 
<!--In the view, create a form that will collect the StateAbbreviation and StateName from the user 
    and POST it back to the AddState HttpPost method in the Admin controller.-->


